# Dependencies
node_modules/

# Next.js build
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (jangan upload API keys!)
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Typescript build
dist/
build/

# Misc
*.log
